<div class="container-fluid p-3">
  <h3 class="font-weight-light">Thread One :</h3>
  <div class="row">
    <div class="d-flex flex-row flex-nowrap">
      <div class="card card-body">
        <h5 class="card-title">Ministery 1</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
      </div>
      <div class="card card-body">
        <h5 class="card-title">Ministery 2</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the Ministery 1 and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
      </div>
      <div class="card card-body">
        <h5 class="card-title">Ministery 3</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the Ministery 1 and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
      </div>
      <div class="card card-body">
        <h5 class="card-title">Ministery 4</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
  <h3 class="font-weight-light">Thread Two :</h3>
  <div class="d-flex flex-row flex-nowrap">
    <div class="card card-body">
      <h5 class="card-title">Ministery 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 2</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the Ministery 1 and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 3</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the Ministery 1 and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 4</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
  <h3 class="font-weight-light">Thread Three :</h3>
  <div class="d-flex flex-row flex-nowrap">
    <div class="card card-body">
      <h5 class="card-title">Ministery 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 2</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the Ministery 1 and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 3</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the Ministery 1 and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
    <div class="card card-body">
      <h5 class="card-title">Ministery 4</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>
